.theme {
    master-color: grey;
    -fx-background-color: derive(master-color, 70%);
}

.rectangle {
	-fx-fill: derive(darkgreen, 60%);
	-fx-stroke: derive(master-color, -40%);
	-fx-stroke-width: 4px;
}

.circle {
	-fx-fill: derive(master-color, 110%);
	-fx-stroke: derive(master-color, -40%);
	-fx-stroke-width: 7px;
}