.theme {
    master-color: grey;
    -fx-background-color: derive(master-color, 70%);
}

.button {
    -fx-background-color: derive(master-color, 120%);
    -fx-padding: 3 11 3 11;
    -fx-background-radius: 12px;
    
    -fx-text-fill: derive(master-color, -60%);
    -fx-font-size: 50;
}

.title {
	-fx-text-fill: derive(master-color, -60%);
	-fx-font-size: 100px;
}

.author {
	-fx-text-fill: derive(master-color, -40%);
	-fx-font-size: 40;
}

.subscript {
	-fx-text-fill: derive(master-color, -60%);
	-fx-font-size: 30;
	-fx-font-style: italic;
}